{% extends "main.html" %}
{% block content %}
<h1>JotaCross 2022</h1>
<i><h4>{% block title %}Akersloot... waar dromen werkelijkheid worden{% endblock %}</h4></i>
<p>
    Op 15 oktober 2022 is het zover! Ga mee naar het sprookjesland van Noord-Holland: Akersloot! Tijdens deze doldwaze
    JotaCross zal Scouting Akersloot de Strandwal ombouwen tot het majestueuze Strandwal Studios, de plek waar dromen
    werkelijkheid worden ✨.
</p>
<p>
    Denk aan koning worden van alle dieren, vinden van hét glazen muiltje of toch het oord waar speelgoed tot leven
    komt. Je moet op 15 oktober één ding niet vergeten: <i>some crosses are worth melting for.</i>…
</p>
{% if articles|length > 1 %}
<h2>Nieuws</h2>
{% for article in articles %}
<section class="article-preview">
    <a href="{{ url_for('articles', name=article.path) }}">
        <h3>{{ article.title }}</h3>
        <p><i>{{ article.teaser }}</i></p>
        {% if not loop.last %}
        <hr>
        {% endif %}
    </a>
</section>
{% endfor %}
{% endif %}

<h2>Excel-ereren</h2>
<p>
    Kan je nou echt niet wachten om de magische wereld van de JotaCross 2022 te betreden? Is tweede niet winnen?
    Calculeer hier dan je eigen uitslag!
</p>
<iframe class="uitslag"
    src="https://docs.google.com/spreadsheets/d/1mO-HqwlJEnv41-vgDOYc8ERJxUDEFUXUFlTWJQDz7y8/edit?usp=sharing?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
{% endblock content %}