<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <header>
        <a class="nav-logo" href="{{ url_for('home')}}">Cas Obdam</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="navicon" />
        </label>
        <nav class="menu">
            <a href="#">About</a>
            <a href="#">Blog</a>
        </nav>
    </header>

    <main>
        <article>
            {% block content %}
            {% endblock content %}
        </article>
    </main>

    <footer>
        <p>&#169; Designed in Akersloot for Strandwal Studios - 2021/2022 - All Rights Reserved</p>
    </footer>
</body>

</html>